@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: darkcyan;
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4rem;
  padding: 1rem 4rem;
  max-width: 90vw;
  max-height: 90vh;
  margin: 2px;
}

.container h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.container a {
  text-decoration: none;
  color: cyan;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: cyan;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: 0;
  border-radius: 0.5rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.97);
}

.text {
  margin-top: 3rem;
}

.form-control {
  position: relative;
  margin: 2rem 0 4rem;
  width: 30rem;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: cyan;
}

.form-control label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  /* font-size: 1.25rem; */
}

.form-control label span {
  display: inline-block;
  font-size: 1.25rem;
  min-width: 5px;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: cyan;
  transform: translateY(-2rem);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
