@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;300;700;600;500;400;300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('./bg.webp') no-repeat center center/cover;
  /* background-size: cover; */
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(10px);
}

.loading-text {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 400;
}

.loading-text span.percent {
  font-size: 2.5rem;
  margin-left: 0.55rem;
  font-weight: 700;
}
