@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(85, 85, 85);
  font-family: 'Roboto', sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: beige;
  transform-origin: top left;
  transition: all 0.5s ease-out;
  width: 100vw;
  min-height: 100vh;
  padding: 75px;
}

.container.show-nav {
  transform: rotate(-20deg);
  position: fixed;
  /* overflow-y: hidden; */
  transition: all 0.2s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s ease;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}
.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 2rem;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1280px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
  color: blanchedalmond;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 50;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: 0.1s translate 0.4s ease-out;
  color: beige;
}

nav ul li i {
  font-style: 1.5rem;
  margin-right: 10px;
}

nav ul li + li + li + li {
  margin-left: 45px;
  transform: translateX(-250%);
}

nav ul li + li + li {
  margin-left: 35px;
  transform: translateX(-200%);
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
